<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Encuesta de satisfaccion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>THEN END IV - encuesta</h1>

    <p>
        Buen día {{ nombre }} esperemos que estés muy bien y entrenando inteligentemente para tus proyectos venideros,
        apóyanos
        contestando esta breve encuesta de satisfacción con la finalidad de ofrecerte mejores eventos ICONS.
    </p>

    <p>
        Instrucciones: valora del 1 a 5 el grado de satisfacción en cada pregunta siendo 1 la menor puntuación y 5 el
        máximo.
    </p>

    <p>
        Terminamos, gracias si deseas adquirir alguna playera adicional de la edición THE END 2018 envía mensaje a la
        página
        en
        Facebook de LA TRIBU RUNNING CLUB para más detalles.
    </p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
