{% extends 'base.html' %}

{% load staticfiles %}

{% block titulo %}ICONS - THE END V{% endblock %}

{% block contenido %}
    <form class="form-horizontal" role="form">
        <h2>THE END V</h2>
        {% if mensaje %}
        <div id="print" class="alert alert-success" role="alert">
            {{ mensaje|safe }}
        </div>
        {% elif mensaje_error %}
        <div class="alert alert-danger" role="alert">
            {{ mensaje_error|safe }}
        </div>
        {% endif %}

        {% if imprimir %}
            <a class="btn btn-info btn-block" onclick="printDiv('print')">IMPRIMIR</a>
            <a class="btn btn-primary btn-block" href="{% url 'inicio' %}">INICIO</a>
        {% else %}
{#            <a class="btn btn-primary btn-block" href="{% url 'registro_corredor_create' %}">REGISTRO</a>#}
            <a class="btn btn-primary btn-block" href="{% url 'reistro_corredor_list' %}">CORREDORES</a>
            <a class="btn btn-warning btn-block" href="{% url 'ruta' %}">RUTA</a>
            <a class="btn btn-primary btn-block" href="mailto:ing.casr@gmail.com?subject=SOPORTE THE END V">SOPORTE</a>
        {% endif %}
    </form>
{% endblock %}




